/* write your override styles here */
#wall .tag-1 {
    display: none;
  }
#wall #tag-2 {
        display: none;
}   
#wall #tag-3[type="slick wicked"] {
        
        display: none;
    }
#wall .parent > #tag-4 {
        display: none;
    }
#wall .parent > #tag-5[type=".slick"] {
        display: none;
    }
#wall .parent + .edit-below {
        display: none;
    }
#wall + .parent {
        display: none;
    }